<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.TbContentCategoryMapper">
	<select id="findTbContentCategoryById" resultType="com.taotao.pojo.Tbcontentcategory" parameterType="long">
		SELECT * FROM tbcontentcategory WHERE parentId = #{parentid}
	</select>
	
	<insert id="insertTbContentCategory" parameterType="com.taotao.pojo.Tbcontentcategory">
		<selectKey keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO tbcontentcategory(parentId,name,status,sortOrder,isParent,created,updated) 
		VALUE (
		#{parentid},
		#{name},
		#{status},
		#{sortorder},
		#{isparent},
		#{created},
		#{updated}
		)
	</insert>
	
	<select id="getTbcontentcategoryById" resultType="com.taotao.pojo.Tbcontentcategory" parameterType="long">
		SELECT * FROM tbcontentcategory WHERE id = #{id}
	</select>
	
	<update id="updateContentCategory" parameterType="com.taotao.pojo.Tbcontentcategory">
		UPDATE tbcontentcategory set  isParent  = #{isparent} WHERE id = #{id}
	</update>
</mapper>